 .query-result{
    margin-top: 20px;
 }
.css-1t1j96h-MuiPaper-root-MuiDialog-paper{
  width: 600px !important;
}
 
::-webkit-scrollbar {
    width: 12px; 
}
/* Đặt màu sắc cho phần đang kéo trên thanh cuộn */
::-webkit-scrollbar-thumb {
    background-color: #555;
}
/* Đặt màu sắc cho nền của thanh cuộn */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
/* #map{
  position: relative;
} */
.pickloc{
      position: absolute;
    left: calc(50% - 15px);
    top: 180px;
    clip-path: polygon(20% 65%, 0 0, 100% 0, 80% 65%, 0 0, 50% 100%, 100% 0);
    background-color: red;
    width: 40px;
    height: 40px;
}
.btn-menu{
    position: fixed;
    top: 15px;
    right: 15px;
    background-color: #02922a;
    width: 40px;
    height: 40px;
    z-index: 1000;
    border-radius: 100px;
    box-shadow: rgb(197 197 197) 0px 0px 6px 2px;
    padding: 12px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

}
.menu-div{
  background-color: white;
  height: 3px;
  width:100%; 
}
.boxMenu{
   position: fixed;
   right: 50px;
   top: 7px; 
   padding: 10px; 
   display: flex;
   flex-direction: column;
   z-index: 1000;
}
.btn-menu:hover{
    background-color: #00601b;

}
.boxMenu div{
  background-color:rgb(0 153 42);
  padding:5px 20px;
  list-style: none;
  color: white;
  box-shadow: rgb(197 197 197) 0px 0px 6px 2px;
  border-radius: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 14pt;

}
.boxMenu div:hover {
  background-color:rgb(1, 104, 29);

}



.box-list-orders{
  position: fixed;
  top: 70px;
  right: 0px;
  width: 100%;
  padding: 0px 20px; 
  z-index: 1001;
  
  

}
.container-list-orders{
box-shadow: rgb(81 81 81 / 33%) 0px 0px 6px 4px;
  background-color: #2525256e;
  border-radius: 10px;
  padding: 10px 0px;

}


.item-order{
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgb(255 255 255 / 47%) 1px 2px 0px 3px;
  margin-bottom: 8px;
}
.item-order:hover{
  background-color: rgb(246, 246, 246);

}
.item-order p{
  margin-bottom: 1px;
   font-weight: bold;
   cursor: pointer;
}
.name-r{ 
  font-size: 12pt;
}
.status-r{
  color: #02922a;
}
.time-r{
  color: #710702;
}



.container-com{
  background-image: linear-gradient(rgb(178 211 234 / 56%), rgb(255 233 232));
   margin-bottom: 100px;
   padding:10px 0px 100px 0px;
}
.div-detail-order{
  width: 100%;

 
  border-radius: 30px;
  padding: 20px 20px;

}
.box-info{
   background-color: white;
  padding: 10px 15px;
  border-radius: 20px;
  box-shadow: rgb(255 255 255 / 47%) 1px 2px 0px 3px;
  font-weight: bold;
  margin-bottom: 14px;
}
 
.title-d{
 
  font-size: 14pt;
  color: grey;

}
.box-info p{
  margin: 0px;
}
.addr-box {
  padding: 5px 0px 0px 5px;
}
  .addr-i {
 
 font-size: 13pt;
}
  .addr{
  color: grey;
  font-size: 14px; 
  

}
.photo-driver{
  width:60px;
  height: 60px;
  overflow: hidden;
  border-radius: 100px;
}
.photo-driver img{
  width: 100%;
}
.driver-info{
  margin-left: 10px;
  width: 100%;
}

.driver-info p{
  margin-top: 2px;
 
}
.driver-name{
  font-size: 14pt;
}
.box-btn-order{
  display: flex;
    width: 100%;
  justify-content: space-around;
}
 
.box-btn-order div{
  background-color: green;
  padding: 8px 8px;  
  border-radius: 20px;
  cursor: pointer;
  color: white;
 
  text-align: center;
}
.box-btn-order div:hover{
  background-color: rgb(1, 103, 1);

}
.mess-ac{
   
      position: absolute;
    top: -12px;
    right: 13px;
    background-color: rgb(237 50 40);
    font-size: 7px;
    padding: 3px 1px 1px 5px;
    border-radius: 3px;
    z-index: 9;
    width: 37px;

}

.mess-af {
  position: absolute;
    width: 8px;
  
    height: 7px;
    background-color: rgb(237 50 40);
    clip-path: polygon(100% 30%, 30% 30%, 0 100%);
    right: 6px;
    top: 12px;
    z-index: -1;
  
}

.btn-active-order{
  position: fixed;
  right: 0px;
  top: 63px; 
 /* background-image: linear-gradient( to right,#00d000, rgb(0 0 0)); */
  z-index: 99999; 
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  width: 70px;
  height: 70px;
  color: white;
  font-size: 12pt;
  font-weight: bold;
  cursor: pointer; 
 animation: biker 15s linear 0s infinite ;
   
}
@keyframes biker {
  /* 0% {left: -20%; top: 420px; transform: rotate(-90deg);}
  5% {left: 0%; top: 300px;  }
  10% {left: 10%; top: 300px ;transform: rotate(0deg);}
  20% {left: 20%; top: 300px;}
  30% {left: 30%; top: 345px; transform: rotate(10deg);}
  40% {left: 40%; top: 360px;}
  50% {left: 50%; top: 365px;transform: rotate(0deg)}
  60% {left: 60%; top: 350px;}
  70% {left: 70%; top: 365px;;transform: rotate(50deg)} 
  80% {left: 80%; top: 350px;  } 
  90% {left: 90%; top: 350px; transform: rotate(10deg);} 
  100% {left: 110%; top: 365px;  }  */

    0% {left: -10%; top: 43px; transform: rotate(-50deg);}
  5% {left: 0%; top: 63px;  }
  10% {left: 10%; top: 63px ;transform: rotate(0deg);}
  20% {left: 20%; top: 63px;}
  30% {left: 30%; top: 53px; transform: rotate(10deg);}
  40% {left: 40%; top: 63px;}
  50% {left: 50%; top: 63px;transform: rotate(0deg)}
  60% {left: 60%; top: 63px;}
  70% {left: 70%; top: 53px; transform: rotate(50deg)} 
  80% {left: 80%; top: 63px;  } 
  90% {left: 90%; top: 53px; transform: rotate(10deg);} 
  100% {left: 110%; top: 63px;  } 
}
 
.box-coupon{  
  margin: 0 auto;
  font-weight: bold;
  font-size: 13pt;
  border:#e10f30  solid 3px ;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: #e10f30;
}

.box-coupon:hover{
  background-color: #e91230;
  color: white
}


.box-restaurant{
  padding: 10px; 
  box-shadow: rgb(206 206 206) 3px 3px 6px;
   margin-top: 8px;
   border-radius: 20px;
   background-color: white; 
  display: flex;
  
}
.box-restaurant:hover{
   background-color: rgb(255 219 219);

}
.box-res-content{
  margin-left: 10px;
  flex: 1;
     
}
.promos-title{
  padding: 10px;
  border-radius: 15px;
  background-color: #fffaee;
     font-weight: bold; 
   
}
.active-promo-title{ 
  animation: activepromotitle 1s linear 0s infinite;
  padding: 5px 10px;
  font-size: 14pt !important;

 
}
 @keyframes activepromotitle {
      0% {background-color:  #02922a; color: white;}
      
      100% {background-color:  #086453; color: white; }
  }
.box-res-image{
  width: 100px;
  height: 100px;
  border-radius: 20px;
  object-fit: cover;
  overflow: hidden;
}
.promos-title p{
  margin: 0px;
  
}
.promos-title-max{

}
.promos-title-min{
  font-size: 12px;
  color: red;
}
 
@media only screen and (max-width: 800px) {
 
 .btn-active-order{ 
 animation: biker 8s linear 0s infinite ;
   
}
}

@media only screen and (max-width: 400px) {
  .box-select{
   width: 100% !important;
 }
 .btn-active-order{
  
 animation: biker 5s linear 0s infinite ;
   
}
}


