 .query-result{
    margin-top: 20px;
 }
.css-1t1j96h-MuiPaper-root-MuiDialog-paper{
  width: 600px !important;
}
 
::-webkit-scrollbar {
    width: 12px; 
}
/* Đặt màu sắc cho phần đang kéo trên thanh cuộn */
::-webkit-scrollbar-thumb {
    background-color: #555;
}
/* Đặt màu sắc cho nền của thanh cuộn */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
/* #map{
  position: relative;
} */
.pickloc{
      position: absolute;
    left: calc(50% - 15px);
    top: 180px;
    clip-path: polygon(20% 65%, 0 0, 100% 0, 80% 65%, 0 0, 50% 100%, 100% 0);
    background-color: red;
    width: 40px;
    height: 40px;
}
.btn-menu{
    position: fixed;
    top: 15px;
    right: 15px;
    background-color: #02922a;
    width: 40px;
    height: 40px;
    z-index: 1000;
    border-radius: 100px;
    box-shadow: rgb(197 197 197) 0px 0px 6px 2px;
    padding: 12px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

}
.menu-div{
  background-color: white;
  height: 3px;
  width:100%; 
}
.boxMenu{
   position: fixed;
   right: 50px;
   top: 7px; 
   padding: 10px; 
   display: flex;
   flex-direction: column;
   z-index: 1000;
}
.btn-menu:hover{
    background-color: #00601b;

}
.boxMenu div{
  background-color:rgb(0 153 42);
  padding:5px 20px;
  list-style: none;
  color: white;
  box-shadow: rgb(197 197 197) 0px 0px 6px 2px;
  border-radius: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 14pt;

}
.boxMenu div:hover {
  background-color:rgb(1, 104, 29);

}



.box-list-orders{
  position: fixed;
  top: 70px;
  right: 0px;
  width: 100%;
  padding: 0px 20px; 
  z-index: 1001;
  
  

}
.container-list-orders{
box-shadow: rgb(81 81 81 / 33%) 0px 0px 6px 4px;
  background-color: #2525256e;
  border-radius: 10px;
  padding: 10px 0px;

}


.item-order{
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgb(255 255 255 / 47%) 1px 2px 0px 3px;
  margin-bottom: 8px;
}
.item-order:hover{
  background-color: rgb(246, 246, 246);

}
.item-order p{
  margin-bottom: 1px;
   font-weight: bold;
   cursor: pointer;
}
.name-r{ 
  font-size: 12pt;
}
.status-r{
  color: #02922a;
}
.time-r{
  color: #710702;
}




.div-detail-order{
  width: 100%;
 margin-bottom: 100px;
  background-image: linear-gradient(rgb(178 211 234 / 56%), rgb(255 233 232));
  margin-top:15px;
  border-radius: 30px;
  padding: 20px 20px;

}
.box-info{
   background-color: white;
  padding: 10px 15px;
  border-radius: 20px;
  box-shadow: rgb(255 255 255 / 47%) 1px 2px 0px 3px;
  font-weight: bold;
  margin-bottom: 14px;
}
 
.title-d{
 
  font-size: 14pt;
  color: grey;

}
.box-info p{
  margin: 0px;
}
.addr-box {
  padding: 5px 0px 0px 5px;
}
  .addr-i {
 
 font-size: 13pt;
}
  .addr{
  color: grey;
  font-size: 14px; 
  

}
.photo-driver{
  width:60px;
  height: 60px;
  overflow: hidden;
  border-radius: 100px;
}
.photo-driver img{
  width: 100%;
}
.driver-info{
  margin-left: 10px;
  width: 100%;
}

.driver-info p{
  margin-top: 2px;
 
}
.driver-name{
  font-size: 14pt;
}
.box-btn-order{
  display: flex;
    width: 100%;
  justify-content: space-around;
}
 
.box-btn-order div{
  background-color: green;
  padding: 8px 13px;  
  border-radius: 20px;
  cursor: pointer;
  color: white;
 
  text-align: center;
}
.box-btn-order div:hover{
  background-color: rgb(1, 103, 1);

}




@media only screen and (max-width: 400px) {
  .box-select{
   width: 100% !important;
 }
}


