#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%; 
  padding: 50px !;

  
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 45% !important;
  height: 300px; 
}

.swiper-slide img {
  display: block;
  width: 100%;
}
.swiper-wrapper{
    width: 35%;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper{
  margin: 0px !important;
}
