#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%; 
  padding: 50px !;

  
}

@-webkit-keyframes animation-rotate{
  0% {
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    transform:rotate(0deg);
  }
  100%{
      -webkit-transform:rotate(360deg);
      -moz-transform:rotate(360deg);
      -ms-transform:rotate(360deg);
      transform:rotate(360deg);}
  }

@keyframes animation-rotate{
  0%{
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    transform:rotate(0deg);
  }
    100%{
      -webkit-transform:rotate(360deg);
      -moz-transform:rotate(360deg);
      -ms-transform:rotate(360deg);
      transform:rotate(360deg);
    }

  }
 
 
.refresh-icon-ro{ 
    -webkit-animation: animation-rotate 1.4s ease-in-out infinite;
    animation: animation-rotate 1.4s ease-in-out infinite;
 
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 45% !important;
  height: 300px; 
}

.swiper-slide img {
  display: block;
  width: 100%;
}
.swiper-wrapper{
    width: 35%;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper{
  margin: 0px !important;
}
 .swipe-cate .swiper-slide {
 
  width: 120px !important; 
  text-align: center; 
  height: 300px; 
  font-size: 10px;
}
.swipe-banner .swiper-slide {
  /* background-position: center;
  background-size: cover; */
  width: 100% !important; 
}
.swipe-cateV1 .swiper-slide {
  /* background-position: center;
  background-size: cover; */
  width:130px !important; 
  text-align: center;
  align-items: center;
}

.swipe-cateV2 .swiper-slide {
  /* background-position: center;
  background-size: cover; */
  width:200px !important;  
}