#app {
  height: 100%
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  padding: 50px !;


}


@-webkit-keyframes animation-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animation-rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }

}


.refresh-icon-ro {
  -webkit-animation: animation-rotate 1.4s ease-in-out infinite;
  animation: animation-rotate 1.4s ease-in-out infinite;

}

.swiper-slide {
  background-position: center;
  background-size: cover;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-wrapper {
  width: 35%;
}

.swipeResName {
  margin: 0px;
  font-weight: bold;
  line-height: 18px;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  margin: 0px !important;
}

.swipe-cate .swiper-slide {

  width: 120px !important;
  text-align: center;
  height: 300px;
  font-size: 10px;
}

.swipe-banner .swiper-slide {
  /* background-position: center;
  background-size: cover; */
  width: 100% !important;
}

.swipe-cateV1 .swiper-slide {
  /* background-position: center;
  background-size: cover; */
  width: 130px !important;
  text-align: center;
  align-items: center;
}

.swipe-cateV2 .swiper-slide {
  /* background-position: center;
  background-size: cover; */
  width: 200px !important;
}

.CPNBarDialog {
  padding: 0px 20px;
  background-color: rgb(201, 100, 0);
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;

}

.categoryTitle {
  font-size: 20px;
  font-weight: bold;
  margin: 5px;
  color: rgb(85, 85, 85);
}

.boxCategory {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.059);
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(255, 251, 245);
  margin-bottom: 10px;
  margin-top: 15px;
}

.divListRestaurant {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 10px;
}

.boxRestaurantItem {
  cursor: pointer;
  display: flex;
  justify-items: center;
  /* border-bottom: 2px solid rgb(234, 234, 234); */
  padding: 10px 0px 20px;
}

.boxRestaurantItemImage {
  margin-right: 10px;
}

.boxRestaurantItemImage img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.PResName {
  font-weight: bold;
  font-size: 15px;

  margin-bottom: -2px;
}

.PResDes {
  font-size: 10pt;
  max-height: 24px;
  overflow: hidden;
  margin-bottom: 0px;
}

.PResDes img {
  width: 20px;
}

.PResDes1 {
  font-size: 10pt;
  max-height: 24px;
  overflow: hidden;
  margin-top: 5px;
  margin-bottom: 3px;
}

.PResDes1 span {
  color: gray;
  font-weight: normal;
}

.PResDes2 {
  font-size: 12px;
  max-height: 24px;
  overflow: hidden;
  margin-bottom: 0px;
}

.PResDes2 img {
  width: 16px;
  margin-top: -2px;
  margin-right: 3px;
}

.btnMoreItem {
  text-align: center;
  color: rgb(201, 100, 0);
  font-weight: bold;
  cursor: pointer;
}

.btnMoreItem:hover {
  background-color: rgb(255, 246, 246);
}

.boxSwapeRestaurant {
  background-color: rgb(255, 251, 245);
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
}

.titleDialog {
  margin: 0px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

/* SwipeCategories */
.listSwipeCategories {
  display: grid;
  margin-top: 20px;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.boxSwipeCategories {
  border-radius: 10px;
  margin-right: 3px;
  text-align: center;
}

.boxSwipeCategories img {
  width: 70px;
  border-radius: 50px;
}

.boxSwipeCategories p {
  font-weight: bold;
  padding: 0px 10px;
  height: 40px;
  overflow: hidden;
}

/* SwipeCategories */

/* SwipeCategoriesV1 */

.boxSwipeCategoriesV1 {
  margin-top: 15px;
  border-radius: 10px;
  padding: 10px 0px 0px 0px;
}

.divitemCV1 {
  width: 150px !important;
}

.boxitemCV1 {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px 10px;
  align-items: center;
}

.boxitemCV1 img {
  width: 100px;
  border-radius: 50px;
}

.boxitemCV1 p {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  color: rgb(83, 83, 83);
}

/* SwipeCategoriesV1  */




/* SwipeCategoriesV2  */
.boxItemSCV2 {
  width: 200px !important;
  margin: 0px 7px;
  box-shadow: 0px 1px 3px 2px rgba(145, 145, 145, 0.215);
  height: 250px !important;
  border-radius: 15px;
}

.divSCV2 {
  background-color: rgb(255, 251, 245);
  border-radius: 10px;
  padding: 10px;
}

.divItemSCV2>div {
  padding: 10px;
}

.divItemSCV2>img {
  border-radius: 15px;
  height: 140px;
  object-fit: cover;
  box-shadow: 0px 1px 2px 1px rgba(12, 12, 12, 0.16);
}

.itemSCV2Name {
  height: 45px;
  overflow: hidden;
  font-weight: bold;
  margin: 0px;
}

.itemSCV2Des {
  margin: 2px 0px;
  display: flex;
  align-items: center;
}

.itemSCV2Des img {
  width: 18px;
  height: 18px;
  margin-top: -3px;
  margin-right: 5px;
}

.boxItemSCV2Search {
  height: 200px !important;
}

/* SwipeCategoriesV2  */
@media screen and (max-width:800px) {
  .listSwipeCategories {
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  }

  .boxSwipeCategories img {
    width: 40px;
  }

  .boxSwipeCategories p {
    font-weight: bold;
    padding: 0px;
    font-size: 12px;
  }

  .boxitemCV1 img {
    width: 70px;
  }

  .boxitemCV1 p {
    font-size: 12px;
    margin-top: 5px;
  }
}

@media screen and (max-width:600px) {
  .listSwipeCategories {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }


  .boxSwipeCategories p {
    font-weight: bold;
    padding: 0px;
  }

  .categoryTitle {
    font-size: 18px;
  }

  .titleDialog {
    font-size: 14px;
  }
}

@media screen and (max-width:500px) {
  .listSwipeCategories {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  }

  .boxSwipeCategories p {
    font-weight: bold;
    padding: 0px;
    font-size: 10px;
    margin-bottom: 0px;
  }



  .boxResItemInfo p {
    font-size: 12px;
  }

  .PResName {
    font-size: 13px;
  }

  .divitemCV1 {
    width: 90px !important;
  }

  .boxitemCV1 img {
    width: 70px;
  }

  .boxitemCV1 p {
    font-size: 10px;
    margin-top: 5px;
  }

  .categoryTitle {
    font-size: 14px;
  }


  .itemSCV2Name {
    font-size: 13px;
  }

  .boxItemSCV2 {
    height: 260px !important;
  }
}