.headerBtnBox {
    position: absolute;
    right: 0px;
    top: 70px;
    width: calc(100% + 400px);
    z-index: 1;
    border-radius: 10px;
    background-color: wheat;
    border: 1px rgba(255, 255, 255, 0.432) solid;
    display: none;
    color: rgb(92, 92, 92);
    box-shadow: 0px 0px 3px 1px rgb(239, 239, 239);
}

.boxCart2 {
    position: absolute;
    left: 5px;
    top: 80px;
    width: calc(100% - 10px);
    z-index: 1;
    border-radius: 5px;
    background-color: white;
    border: 1px rgba(255, 255, 255, 0.432) solid;
    color: rgb(92, 92, 92);
    /* box-shadow: 1px 1px 1px 3px rgba(206, 206, 206, 0.509); */
    background-color: rgb(255, 244, 224);
}

.btnRemoveCart, .btnRemoveCartAll {
    color: rgb(240, 134, 47);
    position: absolute;
    cursor: pointer;
    right: 10px;
    padding: 3px 10px;
    border-radius: 10px;
    font-weight: bold;
}

.btnRemoveCart {
    bottom: 10px;
}

.btnRemoveCartAll {
    top: 5px;
    font-weight: 100;
    font-size: 13px;
}

.btnRemoveCart:hover, .btnRemoveCartAll:hover {
    background-color: rgba(8, 8, 8, 0.043);

}

.ptitle {
    padding: 5px 10px;
    margin: 0px;
    font-weight: bold;
    color: rgb(178, 87, 13);
    font-size: 16px;
    border-bottom: 2px rgba(178, 87, 13, 0.249) solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.headerBtnBoxItems {
    overflow-y: scroll;
    max-height: 400px;
    background-color: rgb(251, 240, 220);

}

.listCart2 {
    overflow-y: scroll;
    max-height: calc(100vh - 230px);
    border-radius: 10px;
    cursor: pointer;
}

.listCart {
    position: relative;
}

.headerBtnBoxItem {
    display: flex;
    padding: 10px;
    cursor: pointer;
    position: relative;

}

.headerBtnBoxItem:hover {
    background-color: wheat;

}

.headerBtnBoxItem img {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    object-fit: cover;
}

.headerBtnBoxItemDes {
    text-align: left;
    overflow: hidden;

}

.headerBtnBoxItemDes>p {
    width: 100%;
    text-wrap: nowrap;
    overflow: hidden;
    margin: 0px 10px;
}

.headerBtnBoxItemDes>p:first-child {
    font-weight: bold;
    color: rgb(136, 73, 10);
    font-size: 15px;

}

.headerBtnCart:hover .headerBtnBox {
    display: block;
}

.headerBtnOrder:hover .headerBtnBox {
    display: block;
}



.boxSearchAddress {
    display: flex;
    flex-direction: column;
    place-items: center;
    height: 80vh;
    background-color: aliceblue;
}

.inputSearchAddress {
    width: calc(100% - 60px);
    padding: 5px 30px;
    border-radius: 10px;
    outline: none;
    font-size: 14pt;
    text-align: center;
    font-weight: bold;
    border: none;
    color: rgb(69, 69, 69);
    box-shadow: 1px 1px 1px 1px rgba(206, 206, 206, 0.509);
    margin-top: 10px;
    color: #8b4611;
}

.boxAddressResult {
    padding: 10px 0px;
    width: 100%;
}

.divAddresResult {
    padding: 10px 30px;
    cursor: pointer;
    border-top: 1px solid rgb(240, 240, 240);
}

.divAddresResult:first-child {
    border-top: none;
}

.divAddresResult:hover {
    background-color: rgb(220, 220, 220);
}

.divAddresResult>p {
    color: gray;
    font-size: 14px;
    margin: 0px;
}

.divAddresResult>p:first-child {
    font-size: 16px;
    font-weight: bold;
    color: #8b4611;
}

.headerBtnMenu {
    display: none !important;
    padding: 0px !important;
}

.headerBtnMenu button {
    padding: 0px !important;
}

.divSearchHeaderSM {
    display: none;
}

.boxMenuItem {
    background-color: white;
    width: 350px;
    position: absolute;
    right: -560px;
    top: 0;
    height: 100vh;
    transition: all 0.1s ease;
    opacity: 0;
    z-index: 1;
}

.boxMenuItemOn {
    right: 0px;
    opacity: 1;
}


.boxMenuBar {
    position: relative;
    margin: 10px 0px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    /* border-bottom: #a8510e1f solid 2px; */

    color: rgb(156, 76, 11);

}

.menuBtnLogout {
    padding: 10px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    color: rgb(156, 76, 11);
    cursor: pointer;
}

.menuBtnLogout:hover {
    background-color: rgba(0, 0, 0, 0.055);

}

.menuBtnLogoutIcon {
    font-size: 20px !important;
    margin-top: -2px;
    margin-left: 5px;
}

.btnCloseMenu {
    position: absolute;
    right: 10px;
    top: 0px;
    color: rgb(178, 87, 13);
    padding: 3px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 30px !important;
}


.btnCloseMenu:hover {
    background-color: rgba(0, 0, 0, 0.084);
}

.boxMenuUser {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: #a8510e1f solid 1px;
    border-top: #a8510e1f solid 1px;
    padding: 10px;
    cursor: pointer;
}

.boxMenuUser:hover {
    background-color: #a8510e0c;
}

.boxMenuUser>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profileBtnEdit {
    margin-right: 10px;
    color: #d46917;
}

.boxMenuUser img {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    object-fit: cover;
    margin-right: 15px;
}



.boxMenuUserDetail>p {
    margin: 0px;
    color: #8b4611b3;
    font-weight: bold;
}

.boxMenuUserDetail>p:first-child {
    margin: 0px;
    font-size: 16px;
    color: #cd691d;
}

/* LOGIN */


.boxLogin {
    padding: 0px 60px;
    padding-bottom: 20px;
    width: 400px;
    border-radius: 30px !important;
}

.titleLogin {
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bolder;
    color: rgb(201 100 0);
    margin: 0px;



}

.boxOTPInput p {
    font-family: sans-serif;
    margin-bottom: 0px;
    margin-top: 5px;
    text-align: center;
    color: gray;
}

.divOTPInput {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.divOTPInput input {
    border: none;
    border-bottom: 2px solid rgb(19, 192, 191);
    outline: none;
    margin-left: 10px;
    font-size: 30px;
    text-align: center;
    /* border-radius: 10px; */
    padding: 0px;
    color: rgb(19, 192, 191);
    width: 40px !important;

}



@media screen and (max-width:990px) {
    .headerBtnNoti {
        display: none !important;
    }

    .headerBtnMenu {
        display: flex !important;
    }
}

@media screen and (max-width:965px) {


    .headerBtnProfile {
        display: none !important;
    }
}

@media screen and (max-width:830px) {
    .headerLogo {
        display: none !important;
    }

}


@media screen and (max-width:770px) {
    .headerLocation {
        margin-left: 0px !important;
    }

    .headerBtnProfile {
        display: none !important;
    }

}



@media screen and (max-width:660px) {
    .headerBtnDiv {
        padding: 5px;
    }

    .headerBtnBoxItem img {
        width: 80px;
        height: 80px;
    }

    .headerBtnSearch {
        padding: 0px !important;
    }

    .inputSearchAddress {
        width: calc(100% - 30px) !important;
        padding: 5px 30px !important;
        border-radius: 10px;
        outline: none;
        font-size: 14pt;
        text-align: center;
        font-weight: bold;
        border: none;
        color: rgb(69, 69, 69);
        box-shadow: 1px 1px 1px 1px rgba(206, 206, 206, 0.509);
        margin-top: 10px;
        color: #8b4611;
    }

    .boxLogin {
        padding: 30px !important;
        width: calc(100% - 30px) !important;
        margin: 0 auto;
    }

    .headerLocationTitle, .headerBtnSearch, .headerBtnCart, .headerBtnOrder {
        display: none !important;
    }

    .boxMenuItem {
        width: 100%;
    }

    .headerDivLeft {
        flex-direction: column;
    }

    .headerLocation {
        margin: 2px 0px;
        width: 100% !important;
    }

    .headerDivLeft {
        width: 100% !important;
    }

    .headerLocationSM {
        background-color: transparent !important;
        padding: 0px;
    }

    .headerLocationSM>p {
        font-size: 14px !important;

    }

    .headerContainer {
        height: 40px !important;
        padding: 0px 10px !important;
    }

    .headerSearchBar {
        width: calc(100% - 70px) !important;
        margin: 0 auto;
        display: block;
        margin-left: 15px !important;
    }

    .divSearchHeaderSM {
        display: flex !important;
        color: white;
        align-items: center;

    }
}



@media screen and (max-width:280px) {


    .headerLocation>p {
        font-size: 12px !important;
        height: 15px;
    }

}