body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.css-hz1bth-MuiDialog-container {
      -webkit-box-pack: top !important;
    -ms-flex-pack: top !important;
    -webkit-justify-content: top !important; 
    justify-content: top !important;
    -webkit-align-items: top !important ;
     -webkit-box-align: top ;
    -ms-flex-align: top !important;
      align-items: top !important; 
}